# dependencies
/node_modules

# next.js
/.next
/out
/build

# env
.env
.env*.local

# misc
.DS_Store
*.pem
*.log
npm-debug.log*

# typescript
next-env.d.ts
*.tsbuildinfo

# секретный seed с паролями профилей — НЕ коммитим в git
prisma/seed-users.ts
